# 成果物

以下の機能を持つDiscord Botを作成する。

- frozenpandaman/s3sを用いて、splatoon3の戦績をstat.inkに定期的にuploadする。
  Discordのコマンドで手動でもuploadできるようにする。
- frozenpandaman/s3sを用いる際には、Nintendo Switch Onlineのアカウントとの
  紐づけの初期登録が必要になるが、その作業をDiscordでBotを介して行えるようにする。
- frozenpandaman/s3sのスクリプトはPythonスクリプトを単純に実行する前提なので、
  入出力が標準入力/標準出力であることを前提となっており、これをDiscord Botの入力と出力に変換する必要がある。
- stat.inkやNintendo Switch OnlineのTokenはjsonファイルの形式で適当なフォルダ構造で保存される。

# 開発環境

- 言語: Python 3.12
- ライブラリ: discord.py, frozenpandaman/s3s
- Ryeを用いる
- 最終的にはDockerコンテナで動作するようにする

## Rye

- Ryeはセットアップ済みである。Ryeを用いるため、パッケージの追加は
  `rye add <package>`で行うこと。
- 依存関係の更新は`rye update`で行うこと。
- コマンドの実行は`rye run <command>`で行うこと。

## ignored_old

ignored_oldフォルダ配下には以前のコードが置かれているが、すでに動作しないので無視すること。

# Step

1. 単純なDiscord Botを作成する。
2. Discord Botで複数回のやりとりができるようにする。
3. frozenpandaman/s3sの初期登録をDiscord Botを介して行えるようにする。
4. 定期的な戦績アップロードを実装する。
5. Discord Botのコマンドで手動アップロードを実装する。
6. frozenpandaman/s3sのupdateをsubprocessで実行できるようにする。
7. Dockerコンテナで動作するようにする。


# Structure

以下のフォルダ構造で作成する。

```
.
├── .clinerules
├── .gitignore
├── pyproject.toml
├── LICENSE
├── version.dat # バージョン情報
├── README.md
├── .todo # TODOリスト
├── .done # 完了したタスクのリスト
├── .env # 環境変数ファイル
├── img/ # 画像ファイル
├── doc/ # ドキュメント
│   ├── app.md # アプリケーションのドキュメント
│   ├── install.md # インストールのドキュメント
│   ├── commands.md # コマンドのドキュメント
│   ├── config.md # 設定のドキュメント
│   ├── advice.md # 開発のアドバイス
│   ├── future.md # 今後の機能追加のドキュメント
│   ├── update.md # 更新のドキュメント
│   └── usage/ # 使い方のドキュメント
├── test/ # テストコード
├── src/ # ソースコード
│   ├── bot.py # Discord Botのメインコード
│   ├── commands/ # コマンドの実装
│   ├── utils/ # ユーティリティ関数
│   ├── config.py # 設定ファイルの読み込み
│   └── s3s_wrapper.py # frozenpandaman/s3sのラッパー
├── data/ # データファイル
│   ├── configs/ # stat.inkやNintendo Switch OnlineのTokenを保存する
│   └── s3s/ # frozenpandaman/s3sの設定ファイルを保存する
└── s3s/ # frozenpandaman/s3sのスクリプトを保存する

```

# 作業の流れ

1. 「todo」と入力されると、`.todo`ファイルの一番上の未完了タスクを実行する。実行後、チェックを入れる。
    完了したタスクは`.done`ファイルにタイムスタンプとともに記載する。
2. 「check」と入力されると、最新のソースコードに合わせてdoc/以下のドキュメントおよびtest/配下のテストコードを更新する。

